[Unit]
Description=Podmander Agent
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/podmander-agent
StateDirectory=podmander/agent
RuntimeDirectory=podmander/agent
Restart=on-failure

[Install]
WantedBy=multi-user.target
