[Unit]
Description=My web app
[Container]
Image=nginx:latest
Environment=FOO=bar
Environment=BAZ=qux
PublishPort=80:80
PublishPort=443:443
Volume=/data:/data
[Install]
WantedBy=multi-user.target